@import "tailwindcss";

:root {
  --primary: #7b2cff;
  --primary2: #c400ff;
  --bg: #07010f;
  --card: rgba(255, 255, 255, 0.05);
  --border: rgba(255, 255, 255, 0.1);
  --text-muted: rgba(255, 255, 255, 0.6);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  background:
    radial-gradient(circle at 20% 20%, #6a00ff33, transparent 40%),
    radial-gradient(circle at 80% 40%, #9d00ff33, transparent 40%), #07010f;
  color: white;
  font-family: "Cairo", sans-serif;
}

/* floating blobs */
@keyframes floatSlow {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(40px, -40px) scale(1.08);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes floatSlow2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-60px, 30px) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

/* HELLO float */
@keyframes floatText {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* breathing image glow */
@keyframes breathe {
  0% {
    transform: scale(0.95);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.6;
  }
}

/* particles */
@keyframes particles {
  from {
    transform: translateY(0);
    opacity: 0.2;
  }
  to {
    transform: translateY(-100vh);
    opacity: 0.8;
  }
}

/* navbar enter */
@keyframes navEnter {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* link underline slide */
.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: linear-gradient(to right, #9333ea, #d946ef);
  transition: width 0.35s ease;
}

.nav-link:hover::after {
  width: 100%;
}

/* button glow pulse */
@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 10px rgba(168, 85, 247, 0.4);
  }
  50% {
    box-shadow: 0 0 25px rgba(168, 85, 247, 0.9);
  }
  100% {
    box-shadow: 0 0 10px rgba(168, 85, 247, 0.4);
  }
}
